doctype 5
html
	head
	body
	#myModal2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-hidden='true') x
					h4.myModalLabel.modal-title
					| Create Service Order
				.modal-body
					p
						button.btn.btn-info(type='button' href='#' id='poppop3' rel='popover' data-trigger='hover' data-placement='bottom' data-content='Look at my Popover!' data-original-title='Popover 1:') Let's Pop:
					p
						button.btn.btn-info(type='button' href='#' id='poppop4' rel='popover' data-trigger='click' data-placement='right' data-content='Look at my 2nd Popover!' data-original-title='Popover 2:') Pop Again:
					.panel-group(id='accordian3')
						.panel.panel-default
							.panel-heading
								h4.panel-title
									a(data-toggle='collapse' data-parent='#accordian3' href='#collapse3') Collapse 1
							.panel-collapse.collapse(id='collapse3')
								.panel-body
									p.lead Look at me collapse!!
									p this content is sweeet
					.panel-group(id='accordian4')
						.panel.panel-default
							.panel-heading
								h4.panel-title
									a(data-toggle='collapse' data-parent='#accordian4' href='#collapse4') Collapse 4
							.panel-collapse.collapse(id='collapse4')
								.panel-body
									p.lead This is all of my Collapse 4 Content.
									p hi world   
				.modal-footer
					button.btn.btn-primary(type='button', data-dismiss='modal') Close

			.navbar.navbar-default.navbar-fixed-bottom
				.container
					p.navbar-text.pull-left
						| &#174; 2016 WMD, Inc.
					p.navbar-text.pull-right  
						a(href='') Support 24x7
					p.navbar-text.pull-right  
						a(href='') Privacy Policy

		script 
			$('#poppop').popover();
			$('#poppop2').popover();
			$('#poppop3').popover();
			$('#poppop4').popover();
